{% extends 'base.html' %}

{% block content %}
<h1>Рецепт блинчиков</h1>
<h3>Шаг 1</h3>
<p>Достаём молоко и яйца из холодильника заранее, чтобы успели согреться.</p>
<h3>Шаг 2</h3>
<p>Яйца разбиваем в глубокую миску, добавляем весь сахар и соль. Взбиваем до образования пены.</p>
<h3>Шаг 3</h3>
<p>Просеиваем частями муку во взбитые яйца, как только тесто начинает густеть, добавляем понемногу молоко.</p>
<h3>Шаг 4</h3>
<p>Сковороду смазываем маслом, выпекаем блины с 2 сторон.</p>
<h3>Шаг 5</h3>
<p>Когда с одной стороны рая стали хрустящими, поддеваем блинчик лопаткой и переворачиваем на другую сторону.</p>
{% endblock %}