{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Об авторе</h1>
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="avatar" src="{{ url_for('static', filename='images/avatar_about.jpg') }}" alt="Author">
    </div>
    <div class="col-md-8 text-justify d-flex align-items-center">
        <p>
            Я Королев Максим Дмитриевич, студент группы 211-352. Я поступил на напрвление "Инфромационная безопасность",
            но понял, что мне нравится веб разработка, а работа с документами и составление презентаций меня не интересует.
            На фото я.
        </p>
    </div>
</div>
{% endblock %}